<div style="background-color: black; margin-top: 80px; height: 500px">
  <div class="container">
    <h2>Ajouter un Film</h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="film-form">
      <div class="form-group">
        <label for="title">Titre du film</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          placeholder="Titre du film"
          [class.is-invalid]="formGroup.controls.title.invalid"
        />
        <small
          class="text-danger"
          *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.title)"
        >
          <ng-container *ngIf="formGroup.controls.title.hasError('required')">
            Le titre est requis.
          </ng-container>
          <ng-container *ngIf="formGroup.controls.title.hasError('minlength')">
            Le titre doit contenir au moins 3 caractères.
          </ng-container>
        </small>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          formControlName="description"
          cols="30"
          rows="10"
          placeholder="Description du film"
          [class.is-invalid]="formGroup.controls.description.invalid"
        ></textarea>
        <small
          class="text-danger"
          *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.description)"
        >
          <ng-container
            *ngIf="formGroup.controls.description.hasError('required')"
          >
            La description est requise.
          </ng-container>
          <ng-container
            *ngIf="formGroup.controls.description.hasError('minlength')"
          >
            La description doit contenir au moins 10 caractères.
          </ng-container>
        </small>
      </div>

      <div class="form-group">
        <label for="genre">Genre</label>
        <select
          id="genre"
          name="genre"
          formControlName="genre"
          [class.is-invalid]="formGroup.controls.genre.invalid"
        >
          <option value="" disabled selected>Choisir un genre</option>
          <option value="Action">Action</option>
          <option value="Comédie">Comédie</option>
          <option value="Drame">Drame</option>
          <option value="Science-Fiction">Science-Fiction</option>
        </select>
        <small
          class="text-danger"
          *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.genre)"
        >
          <ng-container
            *ngIf="formGroup.controls.genre.hasError('required')"
          >
            Le genre est requis.
          </ng-container>
        </small>
      </div>

      <div class="form-group">
        <label for="year">Année</label>
        <input
          type="date"
          id="year"
          name="year"
          formControlName="year"
          [class.is-invalid]="formGroup.controls.year.invalid"
          placeholder="Année de sortie"
        />
        <small
          class="text-danger"
          *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.year)"
        >
          <ng-container *ngIf="formGroup.controls.year.hasError('required')">
            L'année est requise.
          </ng-container>
        </small>
      </div>

      <div class="form-group">
        <label for="rating">Note</label>
        <input
          type="number"
          id="rating"
          name="rating"
          formControlName="rating"
          min="0"
          max="10"
          [class.is-invalid]="formGroup.controls.rating.invalid"
          placeholder="Note sur 10"
        />
        <small
          class="text-danger"
          *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.rating)"
        >
          <ng-container *ngIf="formGroup.controls.rating.hasError('required')">
            La note est requise.
          </ng-container>
          <ng-container *ngIf="formGroup.controls.rating.hasError('min')">
            La note doit être supérieure ou égale à 0.
          </ng-container>
          <ng-container *ngIf="formGroup.controls.rating.hasError('max')">
            La note doit être inférieure ou égale à 10.
          </ng-container>
        </small>
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        <input
          type="file"
          id="image"
          name="image"
          (change)="onFileChange($event)"
          accept="image/*" [class.is-invalid]="formGroup.controls.image.invalid"
          formControlName="image"   
        />
        <small
          class="text-danger"
          *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.image)">
            <ng-container *ngIf="formGroup.controls.image.hasError('required')">
                L'image est requise.
            </ng-container>
            <ng-container *ngIf="formGroup.controls.image.hasError('fileType')">
                Le fichier doit être une image (jpg, jpeg, png).
            </ng-container>
            <ng-container *ngIf="formGroup.controls.image.hasError('fileSize')">
                La taille de l'image doit être inférieure à 2 Mo.
            </ng-container>
        </small>
      </div>

      <div class="form-group">
        <label for="trailerUrl">URL de la bande-annonce</label>
        <input
          type="url"
          id="trailerUrl"
          name="trailerUrl"
          formControlName="trailerUrl"
          placeholder="Url de trailer"
          [class.is-invalid]="formGroup.controls.trailerUrl.invalid"
        />
        <small
          class="text-danger"
          *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.trailerUrl)"
        >
          <ng-container
            *ngIf="formGroup.controls.trailerUrl.hasError('required')"
          >
            L'URL de la bande-annonce est requise.
          </ng-container>
          <ng-container
            *ngIf="formGroup.controls.trailerUrl.hasError('pattern')"
          >
            L'URL de la bande-annonce doit être une URL valide.
          </ng-container>
        </small>
      </div>
      <!-- a checkbox for isNew in your form-->
      <div class="form-group">
        <label for="isNew">Nouveau</label>
        <input
          type="checkbox"
          id="isNew"
          name="isNew"
          formControlName="isNew"
          (change)="onCheckboxChange($event)"
        />
      </div>

      <button type="submit" class="btn-submit">Ajouter le film</button>
    </form>
  </div>
</div>
