<div style="margin-top: 80px">
  <div class="text-center">
    <h1 class="text-white">Our Movies</h1>
    <div class="d-flex justify-content-center mt-4">
      <nav class="nav nav-pills">
        <a
          class="nav-link rounded-pill bg-white text-dark border mx-2 px-4 py-2"
          >All</a
        >
        <a
          class="nav-link rounded-pill bg-white text-dark border mx-2 px-4 py-2"
          >Action</a
        >
        <a
          class="nav-link rounded-pill bg-white text-dark border mx-2 px-4 py-2"
          >Comedy</a
        >
        <a
          class="nav-link rounded-pill bg-white text-dark border mx-2 px-4 py-2"
          >Adventure</a
        >
        <a
          class="nav-link rounded-pill bg-white text-dark border mx-2 px-4 py-2"
          >Fantasy</a
        >
        <a
          class="nav-link rounded-pill bg-white text-dark border mx-2 px-4 py-2"
          >Horror</a
        >
        <a
          class="nav-link rounded-pill bg-white text-dark border mx-2 px-4 py-2"
          >Mystery</a
        >
        <a
          class="nav-link rounded-pill bg-white text-dark border mx-2 px-4 py-2"
          >Romance</a
        >
        <a
          class="nav-link rounded-pill bg-white text-dark border mx-2 px-4 py-2"
          >Sci-Fi</a
        >
        <a
          class="nav-link rounded-pill bg-white text-dark border mx-2 px-4 py-2"
          >Thriller</a
        >
      </nav>
    </div>

    <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="d-flex justify-content-center mt-4"></div>
      <div class="carousel-inner">
        <!-- First Slide -->
        <div class="carousel-item active">
          <div class="row mx-auto" style="max-width: 1200px">
            <div class="col-sm-6 col-md-3" *ngFor="let film of films">
              <app-single-movie
                [routerLink]="['/movie-details', film.id]"
                [film]="film"
              ></app-single-movie>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
